Page 10 RFC

10ページの以下RFCですが、間違いだと思われるため、確認をお願いします。
RFC 9313 HTTP/2 <- RFC 9113
RFC 9314 HTTP/2 <- RFC 9114

この度は本をお読みくださり、ありがとうございます。
「付け焼き刃のQUIC入門 概要/フォーマット/暗号化編」の10ページに関するご指摘について、確認いたしました。ご指摘の通りでしたので、電子版はすぐに修正いたします。また、紙版についても次回発行の際に修正いたします。
貴重なご報告、ありがとうございました。
